<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>반응형 디자인</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body
    class="bg-cyan-200 md:bg-violet-700 sm:bg-slate-500 flex justify-center items-center h-screen"
  >
    <figure
      class="bg-white flex flex-col md:flex-row gap-6 p-6 rounded-2xl shadow-2xl w-1/2"
    >
      <img
        class="w-24 h-24 self-center rounded-full"
        src="/src/assets/face/face1.jpg"
        alt=""
        width="64"
        height="64"
      />
      <figcaption class="space-y-4">
        <strong class="text-3xl text-cyan-500" lang="en"
          >Tailwind
          <abbr class="no-underline" title="Cascading Style Sheet"
            >CSS</abbr
          ></strong
        >
        <p class="text-lg">
          다양한 Tailwind CSS의 유틸리티 세트를 활용해 복잡한 컴포넌트를 구성할
          수 있습니다.
        </p>
        <a
          class="text-cyan-600 font-bold block"
          href="https://tailwindcss.com/docs/utility-first"
          rel="noopener noreferrer"
          target="_blank"
        >
          유틸리티 퍼스트 펀더멘탈
        </a>
      </figcaption>
    </figure>
  </body>
</html>
