<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>넷플릭스 헤더</title>
    <link rel="icon" href="/src/assets/favicon/euid.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-slate-300 font-suit">
    <header
      class="py-5 px-6 lg:px-5 lg:py-10 bg-Black grid grid-cols-[1fr_auto_auto] gap-2 lg:gap-3"
    >
      <h1 class="self-center ml-5">
        <a href="/" class="inline-flex max-w-20 lg:max-w-36">
          <picture>
            <source
              srcset="
                /src/assets/logo/netflix@1x.png 1x,
                /src/assets/logo/netflix@2x.png 2x
              "
              type="image/webp"
            />
            <img
              src="/src/assets/logo/netflix@1x.png"
              srcset="/src/assets/logo/netflix@2x.png 2x"
              alt="NETFLIX"
            />
          </picture>
        </a>
      </h1>

      <div
        class="self-center relative border inline-flex text-Gray-300 rounded-default"
      >
        <svg
          class="left-2 lg:left-3 size-3 lg:size-4 absolute top-1/2 translate -translate-y-1/2"
        >
          <use href="/src/assets/sprite/icons.svg#global" />
        </svg>

        <label for="combo-1" class="sr-only">언어 선택</label>
        <select
          class="appearance-none bg-transparent px-7 py-1 lg:px-10 lg:py-2"
          name="selectLanguage"
          id="combo-1"
        >
          <option value="korean">한국어</option>
          <option value="english">영어</option>
        </select>

        <svg
          class="right-2 lg:right-3 size-3 lg:size-4 absolute top-1/2 translate -translate-y-1/2"
        >
          <use href="/src/assets/sprite/icons.svg#triangle" />
        </svg>
      </div>

      <a
        href="/"
        class="self-center inline-flex rounded-default text-xs lg:text-base bg-Red-500 text-white px-5 py-1.5 lg:py-2.5 font-bold"
        >로그인</a
      >
    </header>
  </body>
</html>
